<div class="login-container">
  <div class="login">
    <div class="banner"></div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="wrapper">
        <div class="row">
          <div class="label">Email</div>
          <input type="email" ngModel name="email">
        </div>
        <div class="row">
          <div class="label">Password</div>
          <input type="password" ngModel name="password">
        </div>
        <div class="row">
          <button type="submit">Login</button>
        </div>
      </div>
      <div class="signup">
        Don't have an account? <a routerLink="/auth/signup">Signup</a>
      </div>
    </form>
  </div>
</div>
