<div *ngIf="movie; let movie; else loading">
    <app-navbar></app-navbar>
    <div class="outer-container"
        [ngStyle]="{'background-image': 'linear-gradient(rgba(0,0,0,.85) 15%,rgba(0,0,0,.2) 40%,#000 90%), url(' + backdropPath + ')'}">
        <div class="container">
            <div class="row">
                <div class="col-12 card-container nopadding">
                    <div class="poster-container nopadding col-xs-12 col-md-4 col-lg-5">
                        <img class="poster" [src]="posterPath" alt="">
                    </div>
                    <div class="data-container col-xs-12 col-md-8 col-lg-7 nopadding">
                        <h1 class="movie__title">{{movie.title}}</h1>
                        <div class="movie__overview">
                            <p>{{movie.overview}}</p>
                        </div>
                        <div class="additional__information">
                            <p class="movie__genre">
                                <span *ngFor="let genre of movie.genres">{{genre.name}}, </span>
                            </p>
                            <p class="movie__producers">
                                <span *ngFor="let p of movie.production_companies">{{p.name}}, </span>
                            </p>
                            <div class="row release-details nopadding">
                                <div class="col-6 nopadding">
                                    Original Release:
                                    <span class="release-details--span">
                                        {{movie.release_date}}
                                    </span>
                                </div>
                                <div class="col-6 nopadding">
                                    Running Time:
                                    <span class="release-details--span">
                                        {{movie.runtime}}
                                    </span>
                                </div>
                                <div class="col-6 nopadding">
                                    Popularity:
                                    <span class="release-details--span">
                                        {{movie.popularity}}
                                    </span>
                                </div>
                                <div class="col-6 nopadding">
                                    Vote Average:
                                    <span class="release-details--span">
                                        {{movie.vote_average}} / 10
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="under-container">
        <ul class="nav justify-content-center">
            <li class="nav-item" [class.active]="activeTab == tabs.CAST">
                <a class="nav-link" [routerLink]="'/movie/' + movie.id + '/cast'">Cast</a>
            </li>
            <li class="nav-item" [class.active]="activeTab == tabs.TRAILERS">
                <a class="nav-link" [routerLink]="'/movie/' + movie.id + '/trailers'">Trailers</a>
            </li>
            <li class="nav-item" [class.active]="activeTab == tabs.SIMILAR_MOVIES">
                <a class="nav-link" [routerLink]="'/movie/' + movie.id + '/similarMovies'">Similar movies</a>
            </li>
        </ul>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
</div>
<ng-template #loading>
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</ng-template>
