<div class="background__content"></div>
<div class="app__container">
  
  <div class="navbar__container">
    <app-navbar></app-navbar>
  </div>

  <div class="header__content">
    <img src="http://www.returndates.com/backgrounds/narcos.logo.png" alt="narcos background">
    <h2>Season 2 now available</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto quos pariatur amet tempore blanditiis sequi
      natus, excepturi deleniti odit, fuga dolore quaerat unde ut sed, eius nostrum porro. Provident, excepturi.</p>
  </div>
</div>
