<div class="background__content"></div>
<div class="app__container">

  <div class="navbar__container">
    <app-navbar></app-navbar>
  </div>

  <div class="banner__container">
    <img class="header__content-image" src="http://www.returndates.com/backgrounds/narcos.logo.png"
      alt="narcos background">
    <h2>Season 2 now available</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque id quam sapiente unde voluptatum alias vero
      debitis, magnam quis quod.</p>
  </div>

  <div class="filmlist__container">
    <app-filmlist></app-filmlist>
  </div>
</div>
