.navbar {
  background-color: #221f1f;
  // background: linear-gradient(to bottom, #221f1f 0%, rgba(0, 0, 0, 0) 100%);
  height: 10vh;
  .navbar-header {
    padding-left: 4rem;
    font-size: 2rem;
    div a {
      color: white;
      text-decoration: none;
    }
  }
}

.content-container {
  background: #221f1f;
  min-height: 100vh;
  .container {
    padding-top: 3rem;
    .card {
      margin: 0 auto;
      width: 60%;
      border: none;
      background: #221f1f;
      color: white;
      img {
        width: 20%;
        margin: 0 auto;
      }
      .card-title {
        text-align: center;
        padding: 2rem;
      }
      .card-body {
        font-size: 1.6rem;
        margin: 0 auto;
        text-align: left;
        padding: 2rem 2rem 2rem 4rem;
        line-height: 2;
      }
    }
  }
}
