.hero {
  background-image: linear-gradient(
      to top,
      #221f1f 0%,
      rgba(34, 31, 31, 0) 100%
    ),
    url(https://images.alphacoders.com/633/633643.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  .hero__content {
    position: relative;
    top: 11vw;
    left: 7vw;
    width: 50%;

    img {
      width: 70%;
    }
    h2 {
      font-size: 2.4rem;
      color: white;
      margin: 3rem 0 1rem 0;
    }

    p {
      font-size: 1.6rem;
      font-weight: 300;
      color: white;
      width: 90%;
    }
  }
}
