<nav class="navbar">
    <div class="navbar-header navbar-default">
        <div>
            <a href="/movies"><i class="fa fa-arrow-left"></i> Back</a>
        </div>
    </div>
</nav>
<div class="content-container">
    <div class="container">
        <div class="card">
            <img class="card-img-top" src="{{profilePath}}" alt="Card image cap">
            <div class="card-body">
                <p class="card-title">{{actor.name}}</p>
                <p class="card-text">{{actor.biography}}</p>
            </div>
        </div>
    </div>

</div>
